title: Slowburn
description: Movie reviews and culture
url: https://slowburn.mov

collections:
  contributors:
    output: true
    permalink: /author/:slug/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      permalink: /:slug/