<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 160 }}">
  <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ '/assets/images/default-logo.png' | absolute_url }}{% endif %}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | truncate: 160 }}">
  <meta name="twitter:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ '/assets/images/default-logo.png' | absolute_url }}{% endif %}">



  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }} - {{ page.title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@62.5..100,100..900&family=Faustina:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/light.css' | relative_url }}" 
        media="(prefers-color-scheme: light)">
  <link rel="stylesheet" href="{{ '/assets/css/dark.css' | relative_url }}" 
        media="(prefers-color-scheme: dark)">
</head>
<body>
  <div class="site-wrapper">
  <header class="site-header">
    <div class="wrapper">
      <div>『 {{ site.title }} 』</div><div style="text-align:right;color: var(--caption-color);">{{ site.description }}</div><hr>
      <nav class="site-nav">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/reviews/' | relative_url }}">Reviews</a>
        <!-- <a href="{{ '/posts/' | relative_url }}">All Posts</a> -->
        <a href="{{ '/about/' | relative_url }}">About</a>
      </nav>
    </div>
  </header>

  <main class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  <footer class="site-footer">
    <div class="wrapper">
      <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    </div>
  </footer>
  </div>
</body>
</html>
