---
layout: default
---
<h1>{{ page.title }}</h1>

{% if page.author %}
<h4>written by {{ page.author }}</h4>
{% endif %}

{% if page.image %}
  <figure class="post-featured-image">
    <img src="{{ page.image | relative_url }}" 
         alt="{% if page.alt %}{{ page.alt }}{% else %}{{ page.title }}{% endif %}">
    
    {% if page.caption %}
      <figcaption class="image-caption">{{ page.caption }}</figcaption>
    {% endif %}
  </figure>
{% endif %}

{% if page.youtube_id %}
  <div class="video-container" style="position:relative; padding-bottom:56.25%; height:0; overflow:hidden; margin-bottom: 20px;">
    <iframe 
      src="https://www.youtube.com/embed/{{ page.youtube_id }}" 
      style="position:absolute; top:0; left:0; width:100%; height:100%; border:0;" 
      allowfullscreen>
    </iframe>
  </div>
{% endif %}

{% if page.rating %}
  <div style="background: var(--badge-bg); padding: 10px; display: inline-block;">
    <strong>Score:</strong> {{ page.rating }} / 5 ★ <br>
    {% if page.verdict %}<strong>Verdict:</strong> {{ page.verdict }}{% endif %}
  </div>
{% endif %}

<article>
  {{ content }}
</article>

{% if page.other_ratings %}
<h3>Other opinions:</h3>
{% for rating in page.other_ratings %}
  <div style="background: var(--badge-bg); padding: 10px; display: inline-block;">
    <strong> {{ rating.author }}</strong><br>
    {{ rating.rating }} / 5 ★ <br>
    "{{ rating.verdict }}"
  </div>
{% endfor %}
{% endif %}
